<h2>質問詳細</h2>

<%= form_for(@post,url: users_posts_path, method: :post) do |f| %>

<!-- エラーメッセージ表示-->
<% if @post.errors.any? %>
	<h3><%= @post.errors.count %>error occurrence</h3><!--エラーメッセ-->
	<ul>
		<% @post.errors.full_messages.each do |message| %>
		<li><%= message %></li>
		<% end %>
	</ul>
<% end %>

<!-- ユーザー情報表示-->
<div class="field">
	<%= f.label :'タイトル' %>
	<%= f.text_field :title %>
</div>

<div class="field">
  <%= f.label :'画像' %><br/>
  <%= f.attachment_field :post_image %>
</div>

<div class="field">
  <%= f.label :'本文' %><br/>
  <%= f.text_area :post_body %>
</div>

<div class="actions">
	<%= f.submit "変更する"%>
</div>

<% end %>
