<h2>質問一覧</h2>

<p>検索</p>
<%= form_tag(users_users_posts_path,:method => 'get') do %>
  <%= text_field_tag :search %>
  <%= submit_tag '検索' %>
<% end %>

<table>
  <% @posts.each do |post| %>
  <thead>
    <tr>
      <th>タイトル</th><th></th><th></th><th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= post.title %></td>
      <td><%= link_to '見てみる',users_post_path(post) %></td>
      <td>
        <% if post.favorites_user(current_user.id, post.id) %>
          <%= link_to 'お気に入り解除',users_post_favorites_path(post),method: :delete %><%= post.favorites.count %>
        <% else %>
          <%= link_to 'お気に入り',users_post_favorites_path(post),method: :post %><%= post.favorites.count %>
        <% end %>
      </td>
      <% if post.user_id == current_user.id %>
      <td><%= link_to '編集',edit_users_post_path(post) %></td>
      <td><%= link_to '削除',users_post_path(post),method: :delete %></td>
      <% end %>
    </tr>
  </tbody>
  <% end %>
</table>
