<div class="container">
  <h2 class = 'text-center mt-3 mb-3'>コメント一覧</h2>
  <div class="row">
    <div class="col-3">
      <div class="card">
        <%= attachment_image_tag(@post,:post_image, fallback: "no_image.jpg",class:"card-img-top") %>
        <div class="card-body">
          <h3>質問内容</h3>
          <div class="card-text">
            <p>
              タイトル<br>
              <%= @post.title %>
            </p>
            <p>
              本文<br>
              <%= @post.post_body %>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-9">
      <div class="row">
        <div class="col-12">
            <table class="table">
              <tbody>
                <% @comments.each do |f| %>
                <tr>
                  <th>
                    <%= f.content %>
                  </th>
                  <th>
                    <% if f.user_id == current_user.id %>
                      <%= link_to '削除',users_post_comment_path(@post),method: :delete %>
                    <% end %>
                  </th>
                </tr>
                <% end %>
              </tbody>
            </table>

            <%= form_for([@post, @comment] ,url:users_post_comments_path(@post),method: :post) do |f| %>
                <%= f.text_area :content, class: "form-control", rows: 5 %>
                <%= f.submit "投稿", class: "btn btn-primary mt-5" %>
            <% end %>
            <% @post.solution = true %>
            <%= form_for(@post, url: users_post_path(@post), method: :PATCH) do |f| %>
              <%= f.hidden_field :solution, :value => @post.solution %>
              <%= f.submit "お悩み解決",class: 'btn btn-success mt-3' %>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
