<div class="container pt-5 mt-5">
  <!-- Youtube検索フォーム -->
  <h2 class = 'text-center mt-3 mb-3'>Youtube動画の検索</h2>
  <p class = 'text-center'>以下の検索バーからファッション情報をYoutubeから取得できます。</p>
  <div class="row justify-content-center mb-5">
    <%= form_tag(users_youtube_index_path, method: :get) do %>
      <input placeholder="検索" class="search-inputa "autocomplete="off" type="text" name="keyword">
      <input type="submit" name="commit" value="検索" class="btn btn-info" data-disable-with="検索">
    <% end %>
  </div>


  <% unless @youtube_data.nil? %>
    <div class="row">
      <% @youtube_data.items.each do |item| %>
      <div class="col-lg-6 border p-3 mb-5">
        <% snippet = item.snippet %>
        <p class = "Youtube_title">
          <%= snippet.title %><br>
          <%= snippet.channel_title %>
        </p>
        <div><iframe class = "Youtube_video" width="535" height="315" src="https://www.youtube.com/embed/<%= @Youtube_url = item.id.video_id %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>

        <%# Youtube動画情報の変数代入 %>
        <% @Youtube_channel_title = snippet.channel_title %>
        <% @Youtube_title = snippet.title %>
        <% @Youtube_video_url = "https://www.youtube.com/embed/#{@Youtube_url}" %>

        <%# Youtube動画保存処理 %>
        <%= form_for(@youtube, url: users_youtube_index_path, method: :post) do |f| %>
        <%= f.hidden_field :youtube_title, :value => @Youtube_channel_title %>
        <%= f.hidden_field :youtube_comment, :value => @Youtube_title %>
        <%= f.hidden_field :youtube_url, :value => @Youtube_video_url %>
        <%= f.submit "保存する",class: 'btn btn-success' %>
        <% end %>

      </div>
      <% end %>
    </div>
  <% end %>
</div>
