<div class="container">
	<h2 class = "mb-3 mt-3 text-center">お問い合わせ</h2>

	<%= form_for(@contact,url: users_contacts_path, method: :post) do |f| %>

	<!-- エラーメッセージ表示-->
	<% if @contact.errors.any? %>
		<h3><%= @contact.errors.count %>件のエラーが発生</h3><!--エラーメッセ-->
		<ul>
			<% @contact.errors.full_messages.each do |message| %>
			<li><%= message %></li>
			<% end %>
		</ul>
	<% end %>

		<!-- ユーザー情報表示-->
			<div class="mt-4 ">
				<%= f.label :'タイトル' %><br>
				<%= f.text_field :title,class:'form-control' %>
			</div>

		<div class="mt-4 ">
			<%= f.label :'本文' %><br/>
			<%= f.text_area :contact_body,class:'form-control' %>
		</div>

		<div class="mt-4">
			<%= f.submit "送信",class: 'btn btn-info'%>
		</div>
		<% end %>
</div>
