<div class="container ">
  <div class="p-5 mt-5">
    <h2 class ='text-center mt-3 mb-3'>ユーザー詳細</h2>
    <%= form_for(@user,url: admins_user_path, method: :PATCH) do |f| %>

    <!-- エラーメッセージ表示-->
    <% if @user.errors.any? %>
    	<h3><%= @user.errors.count %>error occurrence</h3><!--エラーメッセ-->
    	<ul>
    		<% @user.errors.full_messages.each do |message| %>
    		<li><%= message %></li>
    		<% end %>
    	</ul>
    <% end %>

    <!-- ユーザー情報表示-->
    <div class="field">
    	<%= f.label :'ユーザー名' %><br>
    	<%= f.text_field :name,class:'form-control' %>
    </div>

    <div class="mt-5">
      <%= f.label :'メールアドレス' %><br/>
      <%= f.email_field :email,class:'form-control' %>
    </div>

    <div class="actions">
    	<%= f.submit "ユーザー情報変更",class: 'btn btn-outline-primary mt-5 mb-5 mr-5'%>
      <%= link_to '戻る',admins_users_path,class: 'btn btn-outline-secondary' %>
    </div>

    <% end %>

  </div>
</div>
