<div class="container mt-5 pt-5 mb-5 pt-5">
  <h2 class ='text-center mt-3 mb-3'>ユーザー情報</h2>
  <!-- 検索フォーム -->
  <div class='text-center mb-5'>
    <div class="row justify-content-center ">
      <div>
        <%= form_tag(admins_users_path,:method => 'get') do %>
        <%= text_field_tag :name, params[:name]%>
      </div>
      <div>
        <%= submit_tag '検索',class: 'btn btn-info ml-3 '%>
      </div>
      <% end %>
    </div>
  </div>
  <table class = 'table'>
    <thead>
      <tr>
        <th>ユーザー名</th><th></th><th>登録日</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |users| %>
      <tr>
        <th><%= users.name %></th>
        <th>
          <%= link_to '詳細',edit_admins_user_path(users),class: 'btn btn-outline-info mb-3'%><br>
          <%= link_to '削除',admins_user_path(users),method: :delete, data: {confirm: "削除しますか？"},class: 'btn btn-outline-danger'%>
        </th>
        <th><%= users.created_at.to_s(:datetime_jp)  %></th>
      </tr>
      <% end %>
    </tbody>
  </table>
  <div class='mb-5'>
    <%= paginate @users %>
  </div>
</div>
