<div class="container mt-5 pt-3 mb-5 pb-5">
  <h2 class ='text-center mt-3 mb-3'>お問い合わせ一覧</h2>
  <div class="wrap">
    <ul id="tab-menu-post" class="clearfix">
      <li><a href="#tab1" class="active">解決していないお問い合わせ</a></li>
      <li><a href="#tab2" class="">解決したお問い合わせ</a></li>
    </ul>
    <div id="tab-contents" class="clearfix">
      <div id="tab1" class="tab">
        <table class = 'table'>
          <thead>
            <tr>
              <th>タイトル</th><th>お問い合わせ時刻</th><th></th>
            </tr>
          </thead>
          <tbody>
            <% @contacts_solution.each do |contacts_solution| %>
            <tr>
              <th><%= contacts_solution.title %></th>
              <th><%= contacts_solution.created_at.to_s(:datetime_jp) %></th>
              <th>
                <% contacts_solution.solution = true %>
                <%= form_for(contacts_solution, url: admins_contact_path(contacts_solution), method: :PATCH) do |f| %>
                  <%= f.hidden_field :solution, :value => contacts_solution.solution %>
                  <%= f.submit "解決",class: 'btn btn-outline-success mb-3' %>
                <% end %>
                <%= link_to '詳細',admins_contact_path(contacts_solution),class: 'btn btn-outline-info mb-3'%><br>
                <%= link_to '削除',admins_contact_path(contacts_solution),method: :delete, data: {confirm: "削除しますか？"},class: 'btn btn-outline-danger'%>
              </th>
            </tr>
            <% end %>
          </tbody>
        </table>
        <div class='mb-5'>
          <%= paginate @contacts_solution %>
        </div>
      </div>
      <div id="tab2" class="tab">
        <table class = 'table'>
          <thead>
            <tr>
              <th>タイトル</th><th>お問い合わせ時刻</th><th></th>
            </tr>
          </thead>
          <tbody>
            <% @contacts.each do |contacts| %>
            <tr>
              <th><%= contacts.title %></th>
              <th><%= contacts.created_at.to_s(:datetime_jp) %></th>
              <th>
                <% contacts.solution = true %>
                <%= form_for(contacts, url: admins_contact_path(contacts), method: :PATCH) do |f| %>
                  <%= f.hidden_field :solution, :value => contacts.solution %>
                  <%= f.submit "解決",class: 'btn btn-outline-success mb-3' %>
                <% end %>
                <%= link_to '詳細',admins_contact_path(contacts),class: 'btn btn-outline-info mb-3'%><br>
                <%= link_to '削除',admins_contact_path(contacts),method: :delete, data: {confirm: "削除しますか？"},class: 'btn btn-outline-danger'%>
              </th>
            </tr>
            <% end %>
          </tbody>
        </table>
        <div class='mb-5'>
          <%= paginate @contacts %>
        </div>
      </div>
    </div>
  </div>
</div>
