<div class ='container mt-5 pt-3'>
  <h2 class = 'text-center mt-3 mb-3'>お知らせ一覧</h2>
  <!-- 検索フォーム -->
  <div class='text-center mb-5'>
    <div class="row justify-content-center ">
      <div>
        <%= form_tag(admins_notices_path,:method => 'get') do %>
        <%= text_field_tag :announce_title %>
      </div>
      <div>
        <%= submit_tag '検索',class: 'btn btn-info ml-3 '%>
      </div>
      <% end %>
    </div>
  </div>
  <h3 class = "mb-3 mt-3 ">お知らせ作成</h3>
    <div class = 'row'>
      <!-- お知らせ作成フォーム -->
      <div class="col-lg-3">
        <%= form_for(@notice,url:admins_notices_path , method: :post) do |f| %>

        <!-- エラーメッセージ表示-->
        <% if @notice.errors.any? %>
        <h3><%= @notice.errors.count %>件のエラーが発生</h3>
        <ul>
          <% @notice.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
        <% end %>

        <div>
          <%= f.label :'タイトル' %>
          <%= f.text_field :announce_title,class:'form-control' %>
        </div>

        <div class="mt-4 ">
          <%= f.label :'本文' %><br/>
          <%= f.text_area :announce_body,class:'form-control' %>
        </div>

        <div class="mt-4">
          <%= f.submit "投稿",class: 'btn btn-info mb-5'%>
        </div>

        <% end %>
      </div>

    <!-- お知らせ一覧の表示 -->
    <div class = 'col-lg-9'>
      <table class = 'table'>
        <thead>
          <tr>
            <th>タイトル</th><th></th><th></th>
          </tr>
        </thead>
        <tbody>
          <% @notices.each do |notices| %>
          <tr>
            <td>
              <%= notices.announce_title %>
            </td>
            <td>
              <%= link_to '詳細',edit_admins_notice_path(notices),class: 'btn btn-outline-info' %>
            </td>
            <td>
              <%= link_to '削除',admins_notice_path(notices),method: :delete, data: {confirm: "削除しますか？"},class: 'btn btn-outline-danger'  %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <div class='mb-5'>
        <%= paginate @notices %>
      </div>
    </div>
  </div>
</div>
