<!DOCTYPE html>
<html>
  <head>
    <title>FashionInformationApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <!-- ユーザーと管理者で分けている -->
      <% if admin_signed_in? %>
        <%= render 'navbar_admin' %>
      <% else %>
        <%= render "navbar_user" %>
      <% end %>
    </header>

    <%= yield %>

    <footer class="footer mt-auto py-3 navbar-dark bg-dark fixed-bottom">
      <%= render '/layouts/footer' %>
    </footer>

  </body>
</html>
