<!DOCTYPE html>
<html>
  <head>
    <title>FashionInformationApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <!-- ユーザーと管理者で分けている -->
      <% if admin_signed_in? %>
        <%= render '/layouts/navbar_admin' %>
      <% else %>
        <%= render '/layouts/navbar_user' %>
      <% end %>
    </header>

    <%= yield %>

  </body>
</html>
