<!DOCTYPE html>
<html>
  <head>
    <title>FashionInformationApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <!-- ユーザーと管理者で分けている -->
      <% if admin_signed_in? %>
        <%= render '/layouts/navbar_admin' %>
      <% else %>
        <%= render '/layouts/navbar_user' %>
      <% end %>
    </header>

    <div class="notifications text-center text-primary pt-5 mt-5 h3">
      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: key) %>
      <% end %>
    </div>

    <%= yield %>


    <footer class="footer mt-auto py-3 navbar-dark bg-dark fixed-bottom">
      <div class="container text-center">
        <%= link_to 'https://twitter.com/', target: :_blank  do  %>
          <i class="fa fa-twitter text-secondary mr-5">ツイッター</i>
        <% end %>
        <%= link_to 'https://www.instagram.com/', target: :_blank  do  %>
          <i class="fab fa-instagram text-secondary mr-5">インスタグラム</i>
        <% end %>
        <span class="text-secondary" >©oohira suguru</span>
      </div>
    </footer>

  </body>
</html>
